<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Loja de Bebidas</title>
    <link rel="stylesheet" href="styles.css"> <!-- Você pode criar um arquivo CSS separado para estilos personalizados -->
</head>
<body>
<header>
    <h1>Loja de Bebidas</h1>
    <nav>
        <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#">Bebidas Alcoólicas</a></li>
            <li><a href="#">Bebidas Não Alcoólicas</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="produto">
        <img src="bebida1.jpg" alt="Nome da Bebida">
        <h2>Nome da Bebida</h2>
        <p>Descrição da bebida e informações adicionais.</p>
        <p>Preço: R$XX,XX</p>
        <button>Adicionar ao Carrinho</button>
    </section>

    <!-- Adicione mais produtos aqui -->

</main>

<footer>
    <p>&copy; 2023 Loja de Bebidas</p>
</footer>
</body>
</html>